transformers
peft
accelerate
bitsandbytes
datasets
scipy
wandb
nltk
ctranslate2
jupyterlab
sentencepiece
librosa
ipywidgets
matplotlib
moviepy
flask
flask-cors
streamlit
plotly
evaluate
jiwer
streamlit-elements
streamlit-autorefresh
gputil
chardet
mutagen
pyarrow
